.body {
    background: linear-gradient(90deg, rgb(16 81 194) 50%, rgb(144 2 3) 0%);
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

.date-clock {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #333333;
    background: linear-gradient(0deg, rgb(237 237 237) 50%, rgb(203 203 203) 100%);
    font-size: 50px;
    text-align: center;
    line-height: 39px;
}

.ttl-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    box-shadow: 0px 8px 30px 12px #0000004a;
}

.live-vid-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.a24-strm-ttl {
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(0deg, rgb(16 80 193) 0%, rgb(11 143 245) 100%);
    color: #c8deff;
    font-size: 38px;
    line-height: 1;
    text-align: center;
    z-index: 500;
}

.atv-strm-ttl {
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(0deg, rgb(143 2 2) 0%, rgba(230,14,39,1) 100%);
    color: #ffdddd;
    font-size: 38px;
    line-height: 1;
    text-align: center;
    z-index: 500;
}

.a24-strm-ttl-mob-view {
    display: none;
}

.atv-strm-ttl-mob-view {
    display: none;
}

@media screen and (max-width: 991px) {
    .date-clock {
        font-size: 3rem;
        line-height: 1.1;
    }

    .ttl-grid {
        display: none;
    }

    .live-vid-grid {
        display: block;
    }

    .a24-strm-ttl-mob-view {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(0deg, rgb(16 80 193) 0%, rgb(11 143 245) 100%);
        color: #ddeaff;
        font-size: 2rem;
        line-height: 0.8;
        text-align: center;
        z-index: 500;
    }

    .atv-strm-ttl-mob-view {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(0deg, rgb(143 2 2) 0%, rgba(230,14,39,1) 100%);
        color: #ddeaff;
        font-size: 2rem;
        line-height: 0.8;
        text-align: center;
        z-index: 500;
    }
}